.cta {
  padding: 180px 0;
  /* @include mediaTablet {
      padding: 60px 0;
  } */
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.cta__text {
  line-height: 1.5;
  /*  @include mediaTablet {
       font-size: 14px;
   } */
}
.cta__text p + p {
  margin-top: 1em;
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}